[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/acumos-gerrit-license-manager-committers
	owner = group saml/acumos-gerrit-license-manager-committers
	read = group GitHub Replication
[project]
	description = License Manager provides a client library to support right to use and access control, Supports the license profile, right to use document with editors as web components.
